{% extends "base.html" %}
{% block content %}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Lista de Alunos</h2>
    <!-- Botão para adicionar novo aluno -->
    <a href="{{ url_for('adicionar_aluno') }}" class="btn btn-primary">Adicionar Aluno</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Mãe</th>
            <th>Pai</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for aluno in alunos %}
        <tr>
            <td>{{ aluno.id }}</td>
            <td>{{ aluno.nome }}</td>
            <td>{{ aluno.idade }}</td>
            <td>{{ aluno.mae }}</td>
            <td>{{ aluno.pai }}</td>
            <td>
                <a href="{{ url_for('editar_aluno', aluno_id=aluno.id) }}" class="btn btn-warning btn-sm">Editar</a>
                <form action="{{ url_for('listar_alunos') }}" method="post" style="display:inline;">
                    <input type="hidden" name="aluno_id" value="{{ aluno.id }}">
                    <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
